frontend/node_modules
frontend/dist
frontend/.cache
frontend/coverage

backend/.venv
backend/.pytest_cache
backend/.pytest_cache
backend/__pycache__

# Database
instance/todo.db
backend/instance/todo.db